body {
    background-image: url('./Images/background.png');
    background-size: cover;
    background-position: 40% center;
}
h1 {
    text-transform: uppercase;
    font-size: 5rem;
}

.format {
      width: 50%;
      margin-left: 25%;
      margin-top: 75px;
      color: yellow;
      font-family: "Amatic SC", sans-serif; 
      text-align: center;
}

.quote {
width: 50%;
      margin-left: 25%;
      margin-top: 75px;
      font-size: 50px;
      color:white;
      background-color: black;
      font-family: "Amatic SC", sans-serif; 
      text-align: center;
      border-radius: 20px;
      padding: 20px;
      border: 2px solid white;

}
.fang {
    border: 2px solid white;
    width: 100%;
}

.format2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;

}

.fang2 {
    width: 600px;
    border: 2px solid white;
   
}

.title {
  color: yellow;
  font-size: 100px;
  text-align: center;
  margin-top: 30px;
  font-family: "Amatic SC", cursive; /* Or any font you prefer */
}

.buy {
    color: yellow;
    font-size: 4rem;
    text-align: center;
}
.footer {
    color: white;
}
